<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--<page-router-outlet></page-router-outlet>-->
<ScrollView>
    <StackLayout backgroundColor="#ccc">
        <Label [text]="contentMessage" textWrap="true"></Label>
        <AutoCompleteEditText class="comment-input" [(ngModel)]="contentMessage" [mentionItems]="mentionItems" (mentionTextChanged)="onMentionTextChanged($event)"
            editable="true"></AutoCompleteEditText>
        <Button text="Show Text"></Button>
    </StackLayout>
</ScrollView>